<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"></head>

    <body class="p-3 mb-2 bg-secondary text-white">

        <nav th:replace="/fragments/nav :: nav"></nav>
        
        <header th:replace="/fragments/validacion :: header"></header>

        <div class="container my-5 p-3 mb-2 bg-warning text-dark">
            <div class="row">
                <div class="mx-5">
                    <h1>Bienvenido a las noticias</h1>
                    <br>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-7 text-center">
                <h2>¿Qué deseas realizar, <span th:text="${usuario.nombreUsuario}"></span>?</h2>
                <br>
                <a th:if="${usuario.imagen != null}" class="d-flex align-items-center">
                    <img class="m-auto" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" width="300" >
                </a>
            </div>
            <div class="col-5">
                <a href="/noticia/buscarTitulo"><button type="button" class="btn btn-dark btn-sm">Buscar por parte del titulo</button></a>
                <br>
                <br>
                <a href="/noticia/buscarCuerpo"><button type="button" class="btn btn-dark btn-sm">Buscar por parte del cuerpo</button></a>
                <br>
                <br>
                <a href="/noticia/mostrarTodo"><button type="button" class="btn btn-dark btn-sm">Mostrar todas las noticias</button></a>
                <div sec:authorize="hasAnyRole('ADMINISTRADOR', 'PERIODISTA')">
                    <br>
                    <a href="/admin/dashboard"><button type="button" class="btn btn-dark btn-sm">Ir a panel admin</button></a>
                </div>
            </div>
            </div>
            
        </div>
    </body>
</html>
