<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="/fragments/head :: head"></head>

    <body class="p-3 mb-2 bg-secondary text-white">
        
        <header th:replace="/fragments/validacion :: header"></header>
        
        <div class="container m-5 p-3 mb-2 bg-warning text-dark">
            <h2>Busqueda por titulo</h2>
            <br>
            <form action="/noticia/buscarTitulo_" method="POST">
                <div class="form-group my-3">
                    <label>Ingresar palabra o texto</label>
                    <input class="form-control" type="text" name="titulo">
                    <br>
                    <button type="submit" class="btn btn-dark btn-sm">Buscar</button>
                    <br>
                    <br>
                    <a href="/inicio/inicio"><button type="button" class="btn btn-dark btn-sm">Cancelar</button></a>
                </div>
            </form>
        </div>
    </body>
</html>
